<div class="grid-container">
  <div class="intro-container">
    <h1>
      We are building the new internet!
    </h1>
    <article>
      <p id="console_animation">You are Pied Piper.</p>
    </article>
  </div>
  <div class="short-container">
    <div class="short-texts-header">
      <p>What do people think of Pied Piper?</p>
    </div>
    <div class="short-texts-container">
      {{#each cardsContent}}
      <div class="content">
        <img src="{{this.img}}" alt="" />
        <article>
          <p class="content-name">{{this.name}}</p>
          <p class="content-name">{{this.title}}</p>
          <p class="content-text">
            {{this.text}}
          </p>
        </article>
      </div>
      {{/each}}
      <div class="twitter">
        <div class="twitter-header">
          <img src="media/twitter.png" alt="" />
          <p>Tweets!</p>
        </div>
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/SiliconHBO?ref_src=twsrc%5Etfw">Tweets
          by SiliconHBO</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>