<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png" href="./media/favicon.png" />
  <title>PiedPiper - The future is pipin' now</title>
</head>

<body>
  <header>
    <img src="./media/piedpiper.png" alt="" />
    <div class="menu-items">
      <a href="/">
        <p>HOME</p>
      </a>
      <a href="/about">
        <p>ABOUT</p>
      </a>
      <a href="/join">
        <p>JOIN US</p>
      </a>
    </div>
  </header>
  {{> partials/about}}
  <footer>2020 HBO - Made by Javier Furus in VSCode</footer>
</body>

</html>